:root {
  --main-bg-color: #fff;
  --button_radius: 0.75rem;
  --button_color: #fff0f0;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body.dark {
  --main-bg-color: #333;
  background-color: var(--main-bg-color);
  color: #fff;
}
body.dark .counter {
  color: #fff;
}
body.dark button#keypad,
body.dark .modal {
  box-shadow: 0 0 0 2px #b18597
}
body.dark .notifyicon .notifybadge,
body.dark .zikricon .zikrbadge {
  background-color: #fff;
  color: var(--main-bg-color);
}
body.dark .zikr {
  background-color: var(--main-bg-color);
}
body.dark #modal-layer {
  background: rgba(0, 0, 0, 0.19);
}

body {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  padding: 20px;
  margin: 0;
}

.version {
  font-family: 'Share Tech Mono', sans-serif;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 88px;
  left: 36px;
  transform-origin: bottom left;
}

.counter {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 23vw;
  letter-spacing: 0.5rem;
  margin: 0 auto;
  display: block;
  width: fit-content;
  color: #9b5a6b;
  filter: opacity(0.5);
  padding-top: 10vh;
}

.counter:has(span) {
  filter: opacity(1);
}

.counter span[data-num='0'] {
  filter: opacity(0.5);
}

.counter span:not([data-num='0']) {
  filter: opacity(1);
}

.counter span:not([data-num='0']) + span,
.counter span:not([data-num='0']) + span + span,
.counter span:not([data-num='0']) + span + span + span,
.counter span:not([data-num='0']) + span + span + span + span {
  filter: opacity(1);
}

.zikr {
  text-align: center;
  margin-top: 9vh;
  padding-bottom: 1vh;
  position: relative;
  background-color: #fff;
}

.zikr #arabic {
  font-size: 2em;
}

.zikr #meaning {
  font-size: 1.05em;
}

button#keypad {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: var(--button_radius);
  background: #f9c4d2;
  cursor: pointer;
  outline: none;
  color: #9b5a6b;
  text-transform: uppercase;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
}

button#keypad span {
  position: relative;
  outline: none;
  text-decoration: none;
  width: 33vw;
  height: 15.5vh;
  max-width: 150px;
  font-size: 2rem !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  box-shadow: 0 0 0 2px #b18597;
  color: #9b5a6b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
   -webkit-transform: translateY(-0.4em);
       -ms-transform: translateY(-0.4em);
           transform: translateY(-0.4em);
  -webkit-transition: -webkit-transform 0.1s ease;
          transition: -webkit-transform 0.1s ease;
          transition: transform 0.1s ease;
          transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

button#keypad:active {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button#keypad:hover span {
  background-color: #ffe9e9;

  -webkit-transform: translateY(-0.33em);
      -ms-transform: translateY(-0.33em);
          transform: translateY(-0.33em);
}

button#keypad:active span {
  background-color: #ffe9e9;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

#reset, #minus, #mode, #trophy, #records, #notify, #mosque, #sound, #save {
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.trophyicon, .notifyicon, .zikricon {
  z-index: 1;
}

#minus {
  float: right;
}

.notifyicon, .zikricon {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-align: center;
  pointer-events: none;
}

.notifyicon {
  padding-left: 68px;
}

.zikricon {
  padding-left: 137px;
}

.trophybadge {
  display: none;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  left: -20px;
  bottom: -1px;
  pointer-events: none;
}

.notifybadge, .zikrbadge {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 0.7em;
  color: #fff;
  background-color: black;
  padding: 6px;
  border-radius: 10px;
  min-width: 30px;
  display: none;
  position: relative;
  left: -5.5px;
}

#notify, #mosque {
  display: flex;
  pointer-events: bounding-box;
}

#sound {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#save {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#mode, #trophy, #records {
  margin-left: 1em;
}

.movinblock {
  position: absolute;
  right: 8vw;
  bottom: 20vh;
  width: max-content;
  z-index: 2;
}

#move {
  vertical-align: top;
  padding-top: 0px;
  cursor: grab;
}

.clicked-animation {
  width: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

#modal-layer {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  justify-content: center;
  align-items: center;
  height: 100vh;

  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
}

.modal {
  position: absolute;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 600;
  color: #382b22;
  border: none;
  border-radius: var(--button_radius);
  background: #f9c4d2;
  outline: none;
  font-family: 'Share Tech Mono', sans-serif;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
}

.modal span.modal-body {
  display: flex;
  border-radius: var(--button_radius);
  padding: 1.25em 2em;
  background: var(--button_color);
  box-shadow: 0 0 0 2px #b18597;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(-0.75em);
  -ms-transform: translateY(-0.75em);
  transform: translateY(-0.75em);
}

.modal.notifyat {
  display: none;
}

.modal.notifyat span.modal-body {
  width: 78vw;
  max-width: 288px;
  min-height: 100px;
  flex-direction: column;
}

.modal.notifyat span.modal-body #btnnotifyat {
  margin: 15px 0 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.modal.notifyat span.modal-body #btnnotifyatclose {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  color: #9b5a6b;
  font-size: 2rem;
  cursor: pointer;
}

.modal.notifyat span.modal-body input {
  margin-top: 7px;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  padding: 10px 8px;
  font-family: inherit;
  font-size: 1.1em;
  text-align: center;

  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.modal.notifyat span.modal-body input::-webkit-outer-spin-button,
.modal.notifyat span.modal-body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal.saveas {
  display: none;
}

.modal.saveas span.modal-body {
  width: 77vw;
  max-width: 600px;
  min-height: 100px;
  flex-direction: column;
}

.modal.saveas span.modal-body #btnsaveas {
  margin: 15px 0 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.modal.saveas span.modal-body #btnsaveasclose {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  color: #9b5a6b;
  font-size: 2rem;
  cursor: pointer;
}

.modal.saveas span.modal-body input {
  margin-top: 7px;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  padding: 10px 8px;
  font-family: inherit;
  font-size: 1.1em;
}

.modal.records {
  display: none;
}

.modal.records span.modal-body {
  width: 86vw;
  max-width: 600px;
  min-height: 400px;
  margin: 0 auto;
  flex-direction: column;
}

.modal.records span.modal-body #btnrecordsclose {
  margin: 15px 0 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.modal.records span.modal-body .recordstable {
  min-height: 328px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  max-height: 70vh;
}

.modal.records span.modal-body .recordstable span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal.records span.modal-body .recordstable > span > span:nth-child(1) {
  flex: 3;
  font-size: 1.1em;
  height: 45px;
  align-items: center;
  justify-content: center;
}

.modal.records span.modal-body .recordstable > span > span:nth-child(2) {
  flex: 7;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.modal.records span.modal-body .recordstable > span > span:nth-child(2) > span {
  font-size: 0.8em;
  opacity: 0.8;
  padding-top: 2px;
}

.modal.records span.modal-body .recordstable > span > span:nth-child(3) {
  flex: 1;
  justify-content: end;
  align-items: center;
  color: #9b5a6b;
  cursor: pointer;
}

.modal.trophy {
  display: none;
}

.modal.trophy span.modal-body {
  width: 86vw;
  max-width: 560px;
  min-height: 400px;
  margin: 0 auto;
  flex-direction: column;
}

.modal.trophy span.modal-body #btntrophyclose {
  margin: 15px 0 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.modal.trophy span.modal-body .trophies {
  min-height: 328px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

.modal.trophy span.modal-body .trophies > span {
  flex-grow: 1;
  width: 33%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: blur(5px);
}

.modal.trophy span.modal-body .trophies > span.unlocked {
  filter: blur(0px);
}

.modal.trophy span.modal-body .trophies span span:nth-child(1) {
  font-size: 3.5em;
}

.modal.trophy span.modal-body .trophies span span.caption {
  flex: auto;
  filter: blur(5px);
}

.modal.trophy span.modal-body .trophies span.unlocked span.caption {
  filter: blur(0px);
}
